.floating {
	-fx-background-radius:50px;
}

.mensagem-usuario-sucess {
	-fx-background-radius:50px;
	-fx-background-color:#5bc0de;
}

.floatingfontsize {
	-fx-font-size:30px;
	-fx-text-fill:WHITE;
}

.floatingFiltros{
	-fx-background-color: #e5b250;
	-fx-background-radius:50px;
	-fx-border-color:WHITE;
	-fx-border-radius: 50px; 
	-fx-border-width: 4px;	
}

.floatingOn {
	-fx-background-radius:50px;
	-fx-background-color:#3CB371;
}

.floatingOff {
	-fx-background-radius:50px;
	-fx-background-color:#FF6347;
}

